* {
    margin: 0;
    padding: 0;
}

#image-description{
    height: 300px;
}

#descricao{

}

#name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 44px;
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #BE835F;
}

#país {
    font-size: 18px;
}

#cidade {
    font-style: oblique;

}

.listasite {
    font-size: 18px;
}

.listasoft {
    font-size: 16px;
}

#foto1 {
    border-radius: 8px ;
    float: left;
    
}

#livro {
    background-color: antiquewhite;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 8px;
    justify-content: center;

}

div{
    border: solid green;
}

